// Table of Contents
/** Dimensions
  * Colors
  * Color Classes
  * Body
  * Header
  * Navigation
  * Buttons
  * Forms
  * Search Results
  * Results Chart
  * Nutrition Data
  * Food List
  * Home Page
  * Meal Log
*/

// Dimentions
$phone: 414px;
$tablet: 768px;
$desktop: 992px;
$ultrawide: 1200px;

// Colors
$home: #00B7FF;
$lists: #FF003B;
$about: #07E842;
$login: #A900FF;

// Color Classes
.home {
	color: white;
	background-color: $home;
}
.lists {
	color: white;
	background-color: $lists;
}
.about {
	color: white;
	background-color: $about;
}
.login {
	color: white;
	background-color: $login;
}

// Body
body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
	@media (max-width: $phone) {
		min-height: 400px;
		margin-bottom: 50px;
		clear: both;
	}
}

// Header
header {
	text-align: center;
	height: 50%;
	h1 {
		font-size: 5em;
		margin: 0;
		padding-top: 0.75em;
	}
}

// Navigation
nav {
	font-size: 14px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		color: white;
		background-color: black;
		&.nav-right {
			float: right;
  			list-style: none;
		}
	}
	li {
  		float: left;
	}
	a {
		padding: 1em;
		display: block;
  		color: white;
  		text-decoration: none;
  		&:hover {
			background-color: white;
  			color: black;
  		}
	}
	.active {
		&:hover {
			color: white;
 			cursor: default;
		}
	}
	#home {
		&.active, &.active:hover {
			background-color: $home;
		}
	}
	#lists {
		&.active, &.active:hover {
			background-color: $lists;
		}
	}
	#about {
		&.active, &.active:hover {
			background-color: $about;
		}
	}
	#login {
		&.active, &.active:hover {
			background-color: $login;
		}
	}
	@media (max-width: $phone) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

// Buttons
button {
	color: white;
	background-color: black;
	border: none;
	line-height: 2em;
	font-size: 1em;
	&.listbtn:hover {
		color: $lists;
	}
	&.aboutbtn:hover {
		color: $about;
	}
	&.loginbtn:hover {
		color: $login;
	}
	&:focus {
		outline: 0;
	}
}

// Forms
form {
	padding: 1em;
	text-align: center;
	h2 {
		@media (min-width: $tablet) {
			font-size: 2em;
			padding-top: 0.75em;
		}
	}
	input {
		border: white 1px solid;
		line-height: 2em;
		&:focus {
			outline: none;
		}
		&[type=text] {
			box-sizing: border-box;
			font-size: 1em;
			width: 16em;
			@media (min-width: $tablet) {
				width: 20em;
			}
		}
		&[type=reset] {
			background-color: white;
			border: none;
			padding: 0;
			position: relative;
			left: -20px;
			font-size: 1em;
		}
	}
}

// Search Results
#results {

	// List Results
	ul {
		list-style: none;
		margin: 1em;
		padding: 0;
		li {
			text-align: center;
			background-color: $lists;
			color: white;
			line-height: 2em;
			padding: 1em;
			margin: 1em;
			&.selected {
				background-color: black;
			}
			section {
				font-size: 0.5em;
				span {
					margin: 0 1em;
				}
			}
		}
	}

	// Page Controllers
	div.pagectrl {
		text-align: center;
		margin: 1em 0;
	}
}

// Results Chart
section#summary {
	min-height: 500px;
}
div.chart {
  max-width: 1000px;
  width: auto;
  height: 700px;
  overflow: auto;
  svg {
    display: block;
	margin: auto;
  }
  @media (min-width: $tablet) {
		float: right;
		height: 400px;
	}
  li {
  	text-align: left;
  }
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}


// Nutrition Data
ul.legend {
	li {
	  font-size: 1.5em;
  	&.energy {
		  color: #B30000;
		}
		&.carb {
			color: #FCCC8A;
		}
		&.fat {
			color: #E34A33;
		}
		&.sugar {
			color: #FDCC8A;
		}
		&.fiber {
			color: #FEF0D9;
		}
		p {
			color: black;
			line-height: 0.5em;
			padding: 0;
		}
	}
	@media (min-width: $tablet) {
		float: right;
		li p {
			font-size: 0.75em;
		}
	}
}

// Food List
#summary {
	margin: 0 1em;
	text-align: center;
	#foodList {
		button {
			font-size: 1.2em;
		}
		ul {
			text-align: left;
			list-style: none;
			li {
				margin-bottom: 1em;
				button:last-child{
					margin-right: 1em;
				}
				button {
					position: relative;
					right: 0;
					padding:  0 1em;
					@media (min-width: $tablet) {
						padding: 0 0.5em;
					}
				}
			}
		}
	}
}


// Home Page
article {
	margin: 0 1em;
}

// Meal Log
section#mealLog {
	margin: 0 1em;
	text-align: center;
}