// Table of Contents
/** Dimensions
  * Colors
  * Color Classes
  * Body
  * Header
  * Navigation
  * Buttons
  * Forms
  * Search Results
*/

// Dimentions
$tablet: 768px;
$desktop: 992px;
$ultrawide: 1200px;

// Colors
$home: #00B7FF;
$lists: #FF003B;
$about: #07E842;
$login: #A900FF;

// Color Classes
.home {
	color: white;
	background-color: $home;
}
.lists {
	color: white;
	background-color: $lists;
}
.about {
	color: white;
	background-color: $about;
}
.login {
	color: white;
	background-color: $login;
}

// Body
body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	max-width: 1000px;
}

// Header
header {
	text-align: center;
	height: 50%;
	h1 {
		font-size: 5em;
		margin: 0;
		padding-top: 0.75em;
	}
}

// Navigation
nav {
	font-size: 14px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		color: white;
		background-color: black;
		&.nav-right {
			float: right;
  			list-style: none;
		}
	}
	li {
  		float: left;
	}
	a {
		padding: 1em;
		display: block;
  		color: white;
  		text-decoration: none;
  		&:hover {
			background-color: white;
  			color: black;
  		}
	}
	.active {
		&:hover {
			color: white;
 			cursor: default;
		}
	}
	#home {
		&.active, &.active:hover {
			background-color: $home;
		}
	}
	#lists {
		&.active, &.active:hover {
			background-color: $lists;
		}
	}
	#about {
		&.active, &.active:hover {
			background-color: $about;
		}
	}
	#login {
		&.active, &.active:hover {
			background-color: $login;
		}
	}
}

// Buttons
button {
	color: white;
	background-color: black;
	border: none;
	line-height: 2em;
	font-size: 1em;
	&:hover {
		color: $lists;
	}
	&:focus {
		outline: 0;
	}
}

// Forms
form {
	padding: 1em;
	text-align: center;
	h2 {
		@media (min-width: $tablet) {
			font-size: 2em;
			padding-top: 0.75em;
		}
	}
	input {
		border: white 1px solid;
		line-height: 2em;
		&:focus {
			outline: none;
		}
		&[type=text] {
			box-sizing: border-box;
			font-size: 1em;
			width: 16em;
			@media (min-width: $tablet) {
				width: 20em;
			}
		}
	}
}

// Search Results
#results {

	// List Results
	ul {
		list-style: none;
		margin: 1em;
		padding: 0;
		li {
			text-align: center;
			background-color: $lists;
			color: white;
			line-height: 2em;
			padding: 1em;
			&:hover {
				
			}
			section {
				font-size: 0.5em;
				span {
					margin: 0 1em;
				}
			}
		}
	}

	// Page Controllers
	div.pagectrl {
		text-align: center;
		margin: 1em 0;
	}
}

// Chart
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}