header.about
  h1 Meal Log
  p Here's what we've collected so far from the meals that have been made searched.
  .center
    h3 Recently Added
    ul
      li(ng-repeat='val in mealinfo | limitTo:5:-5')
        | Meal: {{ val.food}} 
        p Food metrics in Grams: Energy: {{ val.nutrition.Energy}} , Fat: {{ val.nutrition.Fat}} , Carbs: {{ val.nutrition.Carbohydrates}}