header.about
  h1 Meal Log
  p Here's what you've searched for this far.
section
  h3 Recently Added
  button(ng-click='getHistory()') Load history
  ul
    li(ng-repeat='val in mealinfo | limitTo:5:-5')
      | Meal: {{ val.food}} 
      p Food metrics in Grams: Energy: {{ val.nutrition.Energy  * recommended_nutrition['Energy'] | number:0 }} , Fat: {{ val.nutrition.Fat  * recommended_nutrition['Fat'] | number:0 }} , Carbs: {{ val.nutrition.Carbohydrates  * recommended_nutrition['Carbohydrates'] | number:0 }}