extends layout

block content
    h1= title
    p Welcome to #{title}, the app that adds value to your groceries.
    form
      input(type= "text")
      input(type= "submit" value="Search")

    p #{oreos}
  // Scripts
  script(type='text/javascript', src= scripts[0])

