header.home
  h1= title
  p We add value to your groceries

section
  h2 Purpose
  p It's hard to know what you're eating, GroGro helps combat that cause by combinings simple food tracking with powerful analytic tools and visualizations. 

  h2 How it works
  p Simply search for and click on a big lists of food items or just a single item. As you click on selected items a graph will appear of their nutritional data.

section
  h2 Features
  p Powered by D3 charts, GroGro brings nutritional data to life, allowing users to add or reduce food quantities while the Graph visual adapts. 
  p Conveniently GroGro saves user's previous list history, look up data you've searched before to save the time of searching again. 

