header.home
  h1= title
  p We add value to your groceries

section
  h2 Purpose
  p It's hard to know what you're eating, GroGro helps combat that cause by combinings simple food tracking with powerful analytic tools and visualizations. 

section
  h2 Heres how it works
  p Simply search for and click on a big lists of food items or just a single item. As you click on selected items a graph will appear of their nutritional data.


section
  h2 History Log
  p Conveniently GroGro saves your previous list history, look up data you've searched before to save the time of searching again. 