header.home
  h1= title
  p We add value to your groceries

section
  article
    h2 Quanitfy Your Diet
    p It's hard to know what you're really eating. GroGro helps combat that ambiguity by combinings simple food tracking with powerful analytic tools and visualizations. Enter big lists of food, or just a single item and instantly recieve meaningful feedback.

  article
    h2 Interactive Visualizations

  article
    h2 