doctype html
html
  head
    meta(name= 'viewport', content= 'width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    // Navigation
    nav
      ul
        li
          a(href= '#')#home.active Home
        li
          a(href= '#')#lists Lists
        ul.nav-right
          li
            a(href= '#')#about About
          li
            a(href= '#')#login Login

    // Main
    block content

    script(type='text/javascript', src= jquery)
    script(type='text/javascript', src= scripts[0])