doctype html
html
  head
    meta(name= 'viewport', content= 'width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    // Navigation
    nav
      ul
        li
          a(href= '#').active Home
        li
          a(href= '#') Lists
        ul.nav-right
          li
            a(href= '#') About
          li
            a(href= '#') Login

    // Main
    block content

    // Scripts
    script(type='text/javascript', src= jquery)
    script(type='text/javascript', src= scripts)