doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/modules/bootstrap/dist/css/bootstrap.min.css')
  body
    nav
      ul.nav.navbar-nav
        li GRO GRO
    block content
