doctype html
html(ng-app="GroGro")
  head
    meta(name= 'viewport', content= 'width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/modules/bootstrap/dist/css/bootstrap.css')

  body(ng-controller="Controller")

    // Navigation
    nav
      ul
        li
          a(href= '#')#home.active Home
        li
          a(href= '#')#lists Lists
        ul.nav-right
          li
            a(href= '#')#about About
          li
            a(href= '#')#login Login

    // Main
    block content

    script(type='text/javascript', src= "/modules/jquery/dist/jquery.min.js")
    script(type='text/javascript', src= "/modules/bootstrap/dist/js/bootstrap.min.js")
    script(type='text/javascript', src= "/modules/angular/angular.min.js")

    script(type='text/javascript', src= "javascript/activenav.js")
