header.lists
  h1 Search
  p What are you going to eat?

div(ng-controller="listCtrl")
  
  // Input Food
  section(id='summary')
    form.lists
      input(type='text' ng-model='query.text' required)
      //input(type='reset' value='X' ng-click='clearSearch()')
      button(ng-click='getFood()') Search

    // Nutrition Chart
    div(class='chart')
      ul(class='legend')
        li(class='energy')
          p {{ sumNutrition('Energy') * recommended_nutrition['Energy'] | number:0 }} Calories
        li(class='carb')
          p {{ sumNutrition('Carbohydrates') * recommended_nutrition['Carbohydrates'] | number:0 }} Carbohydrates
        li(class='fat')
          p {{ sumNutrition('Fat') * recommended_nutrition['Fat'] | number:0 }} Fat
        li(class='sugar')
          p {{ sumNutrition('Sugar') * recommended_nutrition['Sugar'] | number:0 }} Sugar
        li(class='fiber')
          p {{ sumNutrition('Fiber') * recommended_nutrition['Fiber'] | number:0 }} Fiber

    // Ingredients
    div
      h2 Foods
      ul
        li(ng-repeat='item in groceryList') 
          p {{item.food}} {{item.amount}}
          button(ng-click='incrementItem(item)') +
          button(ng-click='decrementItem(item)') -
      button(ng-click='saveList()') Save

  // Search Results
  section(id='results')

    // No Results
    div(ng-show='noresults')
      h2 No Results
    
    // Page Controls
    div(class='pagectrl' ng-hide='numPages() == 0')
      button(ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1') Previous
      span {{ currentPage + 1 }} / {{ numPages() }}
      button(ng-disabled='currentPage >= entries.length/pageSize - 1' ng-click='currentPage = currentPage + 1') Next
    
    // Search Results
    ul
      li(ng-repeat='entry in entries | pages:currentPage * pageSize | limitTo:pageSize' ng-click='toggleFood(entry)' ng-class='{true: "selected"}[inGroceryList(entry)]') {{entry.food}}
    
    // Page Controls
    div(class='pagectrl' ng-hide='numPages() == 0')
      button(ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1') Previous
      span {{ currentPage + 1 }} / {{ numPages() }}
      button(ng-disabled='currentPage >= entries.length/pageSize - 1' ng-click='currentPage = currentPage + 1') Next