div(ng-controller="listCtrl")
  
  // Input Food
  form.lists
    h2 What are you going to eat?
    input(type='text' ng-model='query.text')
    button(ng-click='getFood()') Search

  // Nutritional Information
  section
    h2 Nutritional Information
    p {{ groceryList }}
    p Calories {{ getNutrition('Energy') }}
    p Carbohydtates {{ getNutrition('Carbohydrates') }}
    p Fat {{ getNutrition('Fat') }}
    p Fiber {{ getNutrition('Fiber') }}
    p Sugar {{ getNutrition('Sugar') }}

  // Search Results
  section(id='results')
    
    // Page Controls
    div(class='pagectrl' ng-hide='numPages() == 0')
      button(ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1') Previous
      span {{ currentPage + 1 }} / {{ numPages() }}
      button(ng-disabled='currentPage >= entries.length/pageSize - 1' ng-click='currentPage = currentPage + 1') Next
    
    // Search Results
    ul(ng-repeat='entry in entries | pages:currentPage * pageSize | limitTo:pageSize')
      li(ng-click='toggleFood(entry)' ng-class='{true: "selected"}[entry.added]') {{ entry.food }}
        section
          span Calories {{ entry.nutrition['Energy'] }}
          span Carbohydrates {{ entry.nutrition['Carbohydrates'] }}g
          span Fat {{ entry.nutrition['Fat'] }}g
          span Fiber {{ entry.nutrition['Fiber'] }}g
          span Sugar {{ entry.nutrition['Sugar'] }}g
    
    // Page Controls
    div(class='pagectrl' ng-hide='numPages() == 0')
      button(ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1') Previous
      span {{ currentPage + 1 }} / {{ numPages() }}
      button(ng-disabled='currentPage >= entries.length/pageSize - 1' ng-click='currentPage = currentPage + 1') Next

  // Chart
  div(id="chart" class="chart")