// Header
header.login
  h1 {{heading}}
  p(ng-show='!loggedin') Join us!
  p(ng-show='loggedin') Glad you're here

// Facebook Authentication
form
  button(class='loginbtn' ng-click='facebook()' ng-show='loggedin==false') Log in with Facebook
  button(class='loginbtn' ng-click='logout()' ng-show='loggedin==true') Logout
p#response
