/** Dimensions
  * Colors
  * Color Classes
  * Body
  * Header
  * Navigation
  * Buttons
  * Forms
  * Search Results
*/
.home {
  color: white;
  background-color: #00B7FF; }

.lists {
  color: white;
  background-color: #FF003B; }

.about {
  color: white;
  background-color: #07E842; }

.login {
  color: white;
  background-color: #A900FF; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px; }

header {
  text-align: center;
  height: 50%; }
  header h1 {
    font-size: 5em;
    margin: 0;
    padding-top: 0.75em; }

nav {
  font-size: 14px; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: black; }
    nav ul.nav-right {
      float: right;
      list-style: none; }
  nav li {
    float: left; }
  nav a {
    padding: 1em;
    display: block;
    color: white;
    text-decoration: none; }
    nav a:hover {
      background-color: white;
      color: black; }
  nav .active:hover {
    color: white;
    cursor: default; }
  nav #home.active, nav #home.active:hover {
    background-color: #00B7FF; }
  nav #lists.active, nav #lists.active:hover {
    background-color: #FF003B; }
  nav #about.active, nav #about.active:hover {
    background-color: #07E842; }
  nav #login.active, nav #login.active:hover {
    background-color: #A900FF; }

button {
  color: white;
  background-color: black;
  border: none;
  line-height: 2em;
  font-size: 1em; }
  button:hover {
    color: #FF003B; }
  button:focus {
    outline: 0; }

form {
  padding: 1em;
  text-align: center; }
  @media (min-width: 768px) {
    form h2 {
      font-size: 2em;
      padding-top: 0.75em; } }
  form input {
    border: white 1px solid;
    line-height: 2em; }
    form input:focus {
      outline: none; }
    form input[type=text] {
      box-sizing: border-box;
      font-size: 1em;
      width: 16em; }
      @media (min-width: 768px) {
        form input[type=text] {
          width: 20em; } }

#results ul {
  list-style: none;
  margin: 1em;
  padding: 0; }
  #results ul li {
    text-align: center;
    background-color: #FF003B;
    color: white;
    line-height: 2em;
    padding: 1em; }
    #results ul li.selected {
      background-color: black; }
    #results ul li section {
      font-size: 0.5em; }
      #results ul li section span {
        margin: 0 1em; }

#results div.pagectrl {
  text-align: center;
  margin: 1em 0; }

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white; }
