/** Dimensions
  * Colors
  * Color Classes
  * Body
  * Header
  * Navigation
  * Buttons
  * Forms
  * Search Results
  * Results Chart
  * Nutrition Data
  * Food List
  * Home Page
  * Meal Log
*/
.home {
  color: white;
  background-color: #00B7FF; }

.lists {
  color: white;
  background-color: #FF003B; }

.about {
  color: white;
  background-color: #07E842; }

.login {
  color: white;
  background-color: #A900FF; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px; }
  @media (max-width: 414px) {
    body {
      min-height: 400px;
      margin-bottom: 50px;
      clear: both; } }

header {
  text-align: center;
  height: 50%; }
  header h1 {
    font-size: 5em;
    margin: 0;
    padding-top: 0.75em; }

nav {
  font-size: 14px; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: black; }
    nav ul.nav-right {
      float: right;
      list-style: none; }
  nav li {
    float: left; }
  nav a {
    padding: 1em;
    display: block;
    color: white;
    text-decoration: none; }
    nav a:hover {
      background-color: white;
      color: black; }
  nav .active:hover {
    color: white;
    cursor: default; }
  nav #home.active, nav #home.active:hover {
    background-color: #00B7FF; }
  nav #lists.active, nav #lists.active:hover {
    background-color: #FF003B; }
  nav #about.active, nav #about.active:hover {
    background-color: #07E842; }
  nav #login.active, nav #login.active:hover {
    background-color: #A900FF; }
  @media (max-width: 414px) {
    nav {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%; } }

button {
  color: white;
  background-color: black;
  border: none;
  line-height: 2em;
  font-size: 1em; }
  button.listbtn:hover {
    color: #FF003B; }
  button.aboutbtn:hover {
    color: #07E842; }
  button.loginbtn:hover {
    color: #A900FF; }
  button:focus {
    outline: 0; }

form {
  padding: 1em;
  text-align: center; }
  @media (min-width: 768px) {
    form h2 {
      font-size: 2em;
      padding-top: 0.75em; } }
  form.lists button {
    position: relative;
    right: 10px; }
  form input {
    border: white 1px solid !important;
    line-height: 2em; }
    form input:focus {
      outline: none; }
    form input[type=text] {
      box-sizing: border-box;
      font-size: 1em;
      width: 10em; }
      @media (min-width: 768px) {
        form input[type=text] {
          width: 20em; } }
    form input[type=reset] {
      background-color: white !important;
      border: none !important;
      padding: 0;
      position: relative;
      left: -20px;
      font-size: 1em; }

#results ul {
  list-style: none;
  margin: 1em;
  padding: 0; }
  #results ul li {
    text-align: center;
    background-color: #FF003B;
    color: white;
    line-height: 2em;
    padding: 1em;
    margin: 1em; }
    #results ul li.selected {
      background-color: black; }
    #results ul li section {
      font-size: 0.5em; }
      #results ul li section span {
        margin: 0 1em; }

#results div.pagectrl {
  text-align: center;
  margin: 1em 0; }

section#summary {
  min-height: 500px; }

div.chart {
  max-width: 1000px;
  width: auto;
  height: 700px;
  overflow: auto; }
  div.chart svg {
    display: block;
    margin: auto; }
  @media (min-width: 768px) {
    div.chart {
      float: right;
      height: 400px; } }
  div.chart li {
    text-align: left; }

path.slice {
  stroke-width: 2px; }

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none; }

ul.legend li {
  font-size: 1.5em; }
  ul.legend li.energy {
    color: #B30000; }
  ul.legend li.carb {
    color: #FCCC8A; }
  ul.legend li.fat {
    color: #E34A33; }
  ul.legend li.sugar {
    color: #FDCC8A; }
  ul.legend li.fiber {
    color: #FEF0D9; }
  ul.legend li p {
    color: black;
    line-height: 0.5em;
    padding: 0; }

@media (min-width: 768px) {
  ul.legend {
    float: right; }
    ul.legend li p {
      font-size: 0.75em; } }

#summary {
  margin: 0 1em;
  text-align: center; }
  #summary #foodList button {
    font-size: 1.2em; }
  #summary #foodList ul {
    text-align: left;
    list-style: none; }
    #summary #foodList ul li {
      margin-bottom: 1em; }
      #summary #foodList ul li button:last-child {
        margin-right: 1em; }
      #summary #foodList ul li button {
        position: relative;
        right: 0;
        padding: 0 1em; }
        @media (min-width: 768px) {
          #summary #foodList ul li button {
            padding: 0 0.5em; } }

article {
  margin: 0 1em; }

section#mealLog {
  margin: 0 1em;
  text-align: center; }
