/** Dimensions
  * Colors
  * Color Classes
  * Body
  * Header
  * Navigation
  * Buttons
  * Forms
  * Search Results
*/
.home {
  color: white;
  background-color: #00B7FF; }

.lists {
  color: white;
  background-color: #FF003B; }

.about {
  color: white;
  background-color: #07E842; }

.login {
  color: white;
  background-color: #A900FF; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px; }

header {
  text-align: center;
  height: 50%; }
  header h1 {
    font-size: 5em;
    margin: 0;
    padding-top: 0.75em; }

nav {
  font-size: 14px; }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: black; }
    nav ul.nav-right {
      float: right;
      list-style: none; }
  nav li {
    float: left; }
  nav a {
    padding: 1em;
    display: block;
    color: white;
    text-decoration: none; }
    nav a:hover {
      background-color: white;
      color: black; }
  nav .active:hover {
    color: white;
    cursor: default; }
  nav #home.active, nav #home.active:hover {
    background-color: #00B7FF; }
  nav #lists.active, nav #lists.active:hover {
    background-color: #FF003B; }
  nav #about.active, nav #about.active:hover {
    background-color: #07E842; }
  nav #login.active, nav #login.active:hover {
    background-color: #A900FF; }

button {
  color: white;
  background-color: black;
  border: none;
  line-height: 2em;
  font-size: 1em; }

form {
  padding: 1em 0;
  text-align: center; }
  form h2 {
    font-size: 2em; }
  form input {
    border: white 1px solid;
    line-height: 2em; }
    form input:focus {
      outline: none; }
    form input[type=text] {
      box-sizing: border-box;
      width: 20em;
      font-size: 1em; }

ul.results {
  list-style: none; }
  ul.results li {
    border: 2px solid black; }
