/* CSS Table of Contents */
/* Body
 * Main
 * Navigation
 * Links and Text
*/

/** Body **/
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
  body {
    padding: 50px;
  }
}

/** Main **/
main {
  text-align: center;
  margin: 1em;
}

/** Navigation **/
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
  background-color: black;
}
nav li {
  float: left;
}
nav a {
  padding: 1em;
  display: block;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: white;
  color: black;
}
.active:hover {
  color: white;
  cursor: default;
}
#home.active {
  background-color: #00B7FF;
}
#home.active:hover {
  background-color: #00B7FF;
}
#lists.active{
  background-color: #FF003B
}
#lists.active:hover {
  background-color: #FF003B;
}
#about.active {
  background-color: #00FF95;
}
#about.active:hover {
  background-color: #00FF95;
}
#login.active {
  background-color: #A900FF;
}
#login.active:hover {
  background-color: #A900FF;
}
nav ul.nav-right {
  float: right;
  list-style: none;
}

/** Links and Text **/
a {
  color: #00B7FF;
}
