/* CSS Table of Contents */
/* Body
 * Main
 * Header
 * Navigation
   * Active
 * Links and Text
*/

/** Body **/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 768px) {
  body {
    padding: 0 50px;
  }
}

/** Main **/
main {
}

/** Header **/
header {
  text-align: center;
  background-color: #00B7FF;
  color: white;
  height: 50%;
}
header h1 {
  font-size: 5em;
  margin: 0;
  padding-top: 0.75em;
}
header p {
}

/** Navigation **/
nav {
  font-size: 14px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: white;
  background-color: black;
}
nav li {
  float: left;
}
nav a {
  padding: 1em;
  display: block;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: white;
  color: black;
}
nav ul.nav-right {
  float: right;
  list-style: none;
}

/* Active Elements */
.active:hover {
  color: white;
  cursor: default;
}
#home.active, #home.active:hover {
  background-color: #00B7FF;
}
#lists.active, #lists.active:hover{
  background-color: #FF003B
}
#about.active, #about.active:hover {
  background-color: #00FF95;
}

#login.active, #login.active:hover {
  background-color: #A900FF;
}

/** Links and Text **/
a {
  color: #00B7FF;
}
